@model App.Domain.EmployeeFunc
@{
    ViewBag.Title = "EmployeeManagement";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/App_Themes/Theme1/plugins/datatables/jquery.dataTables.min.css" rel="stylesheet" type="text/css" />
<link href="~/App_Themes/Theme1/plugins/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">
<link href="~/App_Themes/Theme1/plugins/datatables/jquery.dataTables.min.css" rel="stylesheet" type="text/css" />
<link href="~/App_Themes/Theme1/plugins/select2/select2.css" rel="stylesheet" type="text/css" />
<link href="~/Css/FormDesign.css" rel="stylesheet" />
<style>
    table.dataTable.select tbody tr,
    table.dataTable thead th:first-child {
        cursor: pointer;
    }

    .form-control {
        border: 1px solid #00ffff;
    }

    .required:after {
        content: " *";
        font-weight: bold;
        color: red;
    }
</style>

<div class="row">
    <div class="col-md-10">
        <div class="panel panel-color panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <text style="text-align:left !important; text-decoration: none;">Employee Management </text>
                    <text style="color:#1E3B2D;font-size:12px;margin-right:100px;" class="pull-right">@ViewBag.Status</text>
                </h3>
            </div>
            <div class="panel-body" style="margin-top:20px">

                <div class="row col-md-2">
                    <div class="col-md-12" style="text-align:right;">
                        <input type="button" class="btn btn-primary" value="Authintication" id="AreaSection" />
                    </div>
                </div>

                @*<div class="col-md-12">

                    <div class="col-md-6">
                        @Html.LabelFor(x => x.EmpId, new { @class = "col-md-4 required" })
                        <div class="form-group col-md-8">
                            @Html.DropDownListFor(x => x.EmpId, null, "Select Employee", new { @class = "form-control select2", required = "required" })
                            @Html.ValidationMessageFor(x => x.EmpId)
                        </div>
                    </div>
                    <div class="col-md-4"></div>
                </div>*@
                <div class="col-md-12" style="text-align:left; margin-bottom:10px;margin-left:17%">
                    <label class="btn btn-default">
                        <input type="checkbox" value="1" autocomplete="off">
                        <span>Received By</span>
                    </label>
                </div>
                <div class="col-md-12" style="text-align:left; margin-bottom:10px;margin-left:17%">
                    <label class="btn btn-default">
                        <input type="checkbox" value="1" autocomplete="off">
                        <span>pproved By</span>
                    </label>
                </div>
                <div class="col-md-12" style="text-align:left; margin-bottom:10px;margin-left:17%">
                    <label class="btn btn-default">
                        <input type="checkbox" value="1" autocomplete="off">
                        <span>Issue By</span>
                    </label>
                </div>


                @*<label><input type="checkbox" class="checkbox" id="checkbox" /></label>*@
            </div>

            @*<div class="checkbox checkbox-primary">
                    @{
                        int i = 0;

                        foreach (var role in ViewBag.Roles)
                        {

                            if (i % 2 == 0)
                            {
                                <br />
                                <div class="col-md-5">
                                    <input type="checkbox" id="@role" name="Roles" value="@role" />
                                    <label for="@role">@role</label>
                                </div>
                            }
                            else
                            {
                                <div class="col-md-5">
                                    <input type="checkbox" id="@role" name="Roles" value="@role" />
                                    <label for="@role">@role</label>
                                </div>
                            }
                            i = i + 1;

                        }
                    }
                </div>*@


            @*<div class="row">
                <div class="col-md-12">
                    <label class="control-label">
                        <span class="label-style">FuncList </span>
                    </label>
                </div>

            </div>

            <fieldset class="custom-fieldset">
                <div class="row">
                    @for (int i = 0; i < Model.FuncList.Count; i++)
                    {
                        <div class="col-md-2">
                            <input type="checkbox" name="SelectedFuncList" value="@Model.FuncList[i].FuncId" /> @Model.FuncList[i].Function>
                        </div>
                    }
                </div>
            </fieldset>*@
            <div class="col-sm-10"><br /><br /></div>
            <div class="col-md-8" style=" text-align:center;overflow:hidden;">
                <input type="button" value="Save" class="btn btn-primary" id="save" style="width:100px;" />
                <input type="button" value="Update" class="btn btn-primary" id="update" style="width:100px;" />
                <input type="button" value="Clear" class="btn btn-primary" id="clear" style="width:100px;" />
            </div>
        </div>
    </div>
</div>




<div class="modal fade bd-example-modal-lg " tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" id="AreaSection" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-color panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title">Correspondent Area</h3>

                        </div>
                        <div class="panel-body">
                            @*<div class="col-md-12">
                                    <label class="col-md-4" for="CustCodes">Buyer</label>
                                    <div class="form-group col-md-8">
                                        <input class="form-control" id="buyer" name="CustCodes" type="text" value="" disabled="disabled">
                                        <span class="field-validation-valid" data-valmsg-for="CustCodes" data-valmsg-replace="true"></span>
                                    </div>
                                </div>*@

                            <div class="col-md-12">
                                <label class="col-md-4">Correspondent Name</label>
                                <div class="form-group col-md-8" style="padding-left:2px;">
                                    @Html.DropDownListFor(x => x.EmpId, null, new { @class = "form-control select2", required = "required", @Value = ViewBag.EmpId })  @**@
                                    @Html.ValidationMessageFor(x => x.EmpId)
                                </div>
                            </div>
                 
                            <div class="col-md-12">
                                <table class="table" id="InstArea">
                                    <thead>
                                        <tr>
                                            <th><input name="select_all" value="1" type="checkbox" id="select_all">All</th>
                                            <th>Authintication  permission </th>
                                        </tr>
                                    </thead>


                                </table>
                            </div>

                            <div class="row col-md-12">
                                <div class="col-md-12">
                                    <label for="select2-chosen-1" class="col-md-6"></label>
                                    <input type="button" value="Back" class="btn btn-primary" id="backCorsdArea" />
                                    <input type="button" value="Save" class="btn btn-primary" id="saveCorsdArea" />
                                    <input type="button" value="Cancel" class="btn btn-primary" id="cancelCorsdArea" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

@section Scripts{
    <script src="/App_Themes/Theme1/plugins/select2/select2.min.js"></script>
    <script src="~/App_Themes/Theme1/plugins/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
    <script>
        $(document).ready(function () {

            $('#UnitCode').select2();
            $("#update").hide();

            $(document).on("click", "#save", function () {
                $("#save").prop("disabled", false);
                var item = { SubCode: "", SubName: "", SubType: "", OpenBal: "" }

                // item.ItemType = $(".ItemType:checked").val();
                item.SubCode = $("#SubCode").val();
                item.SubName = $("#SubName").val();
                item.SubType = $("#SubType").val();
                item.OpenBal = $("#OpenBal").val();

                $.ajax({
                    url: '@Url.Action("SaveSubsidary", "Subsidiary")',
                    contentType: "application/json;charset=utf-8",
                    data: JSON.stringify({ subsidiaryInfo: item }),
                    type: 'POST',
                    dataType: 'json',
                    success: function (datas) {
                        if (datas == 1) {
                            swal("Sucessfully Saved!", "success")
                            $("#save").prop("disabled", false);
                            clearItemForm();

                        }
                        else if (datas == 0) {
                            swal(
                                'Sorry!',
                                'All (*) field are required. These Fields can not be empty!!!',
                                'warning'
                            );
                            $("#save").prop("disabled", false);
                        }
                        else {
                            swal("This item already exists!!! Please enter another item!!!", "fail")
                        }

                    }
                });
            });


            $("#SubCode").keypress(function (e) {
                if (e.which == 13) {
                    $("#update").show();
                    $.ajax({
                        url: '@Url.Action("GetAllBySubCode", "Subsidiary")',
                        contentType: "application/json;charset=utf-8",
                        data: { SubCode: $("#SubCode").val() },
                        type: 'GET',
                        dataType: 'json',
                        success: function (datas) {
                            if (datas.SubCode == "undefined") {
                                alert("error")
                            }
                            else {
                                //if (datas.ItemType == 'F') {
                                //    $('#finishedGood').prop('checked', true);
                                //}
                                //else if (datas.ItemType == 'R') {
                                //    $('#rawMaterial').prop('checked', true);
                                //}
                                $("#SubName").val(datas.SubName);
                                $("#SubType").val(datas.SubType).trigger('change.select2');
                                $("#OpenBal").val(datas.OpenBal);
                                $("#SubCode").prop("disabled", true);
                                $("#save").hide();
                            }
                        },
                        error: function () {
                            swal("Sorry!! Item does not exists.", "fail")
                            $("#save").hide();
                        }
                    });
                }
            });
            $(document).on("click", "#update", function () {
                $("#save").prop("disabled", false);
                var item = { SubCode: "", SubName: "", SubType: "", OpenBal: "" }
                // item.ItemType = $(".ItemType:checked").val();
                item.SubCode = $("#SubCode").val();
                item.SubName = $("#SubName").val();
                item.SubType = $("#SubType").val();
                item.OpenBal = $("#OpenBal").val();



                $.ajax({
                    url: '@Url.Action("UpdateSubsidiary", "Subsidiary")',
                    contentType: "application/json;charset=utf-8",
                    data: JSON.stringify({ subsidiaryInfo: item }),
                    type: 'POST',
                    dataType: 'json',
                    success: function (datas) {
                        if (datas == 1) {
                            swal("Sucessfully Updated!", "success")
                            $("#save").prop("disabled", false);
                            clearItemForm();

                        }
                        else if (datas == 0) {
                            swal(
                                'Sorry!',
                                'All (*) field are required. These Fields can not be empty!!!',
                                'warning'
                            );
                            $("#save").prop("disabled", false);
                        }

                    }
                });
            });




            $(document).on("click", "#clear", function () {
                clearItemForm();
            });

            function clearItemForm() {
                // $(".ItemType").prop("checked", false);
                $("#SubCode").val("");
                $("#SubName").val("");
                $("#SubType").val("").trigger('change.select2');
                $("#OpenBal").val("");
                $("#SubCode").prop("disabled", false);
                $.ajax({
                    url: '@Url.Action("GetSubsiiaryCode", "Subsidiary")',
                    contentType: "application/json;charset=utf-8",
                    type: 'GET',
                    dataType: 'json',
                    success: function (datas) {

                        $("#SubCode").val(datas);
                    }
                });
                $("#update").hide();
                $("#save").show();
            }

        });


        $.ajax({
            type: "Get",
            contentType: "application/json;charset=utf-8",
            url: '@Url.Action("GetFuncSl", "Accounts")',
            dataType: 'json',
            success: function (item) {
                var table = $("#InstArea").DataTable();
                table.clear().draw();
                $.each(item, function (index, value) {
                    table.rows.add([[value.ThanaID, value.ThanaName]]).draw();
                });
            }
        });


    </script>
}


