@model App.Domain.BranchLocMap
@{
    ViewBag.Title = "BranchLocMap";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    /*table.dataTable.select tbody tr,
    table.dataTable thead th:first-child {
        cursor: pointer;
    }

    .form-control {
        border: 1px solid #00ffff;
    }

    .col-md-12 {
        padding: 0 !important;
    }

    .required:after {
        content: " *";
        font-weight: bold;
        color: red;
    }*/

    .form-control {
        border: 1px solid #00ffff;
    }
     .hideme {
        display: none;
    }

    fieldset {
        display: block;
        margin-left: 2px;
        margin-right: 13px;
        padding-top: 0.35em;
        padding-bottom: 0.625em;
        padding-left: 0.75em;
        padding-right: 0.75em;
        border: 2px groove;
    }

    legend {
        display: block;
        padding-left: 2px;
        padding-right: 2px;
        border: none;
    }
</style>

@using (Html.BeginForm())
{
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-color panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <text style="text-align:left !important;text-decoration:none;" id="Title">Branch Location Mapping</text>
                    </h3>
                </div>

                <fieldset>
                    <div class="col-md-12" style="margin-top: 10px !important;">
                        <div class="col-md-6">
                            <label class="col-md-3" id="lblBranchCode">Branch Code</label>
                            <div class="input-group form-group col-md-8">
                                @Html.DropDownListFor(x => x.BranchCode, null, "Search Branch", new { @class = "form-control select2*", @Value = ViewBag.BranchCode })
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label class="col-md-3" id="lblLocCode">Location Code</label>
                            <div class="input-group form-group col-md-8">
                                @Html.DropDownListFor(x => x.LocCode, null, "Search Location", new { @class = "form-control select2*", @Value = ViewBag.LocCode })
                            </div>
                        </div>
                    </div>
   
                    <div class="col-md-12" style="text-align:end">
                        <input type="button" value="SAVE" class="btn btn-primary" id="btnadd" style="width:100px; margin-right:47px" />
                        <input type="button" value="UPDATE" class="btn btn-primary" id="btnupdate" style="width:100px; margin-right:47px" />
                    </div>
                    <div class="col-sm-12 col-md-12" style="margin-top: 10px; margin-bottom: 10px;" id="pnlDT">
                        <div class="row col-sm-12 col-md-12" style="border:1px solid; border-color:#adcceb; width:100%">
                            <div class="row">
                                <div class="col-sm-12 col-md-12" style="padding:1px 18px 1px 18px">
                                    <br />
                                    <table class="table table-bordered table-responsive" id="Add-datatable" style="width:100%">
                                        <thead>
                                            <tr>
                                                <th width="5%" id="Sl">SL</th>
                                                <th class="hideme">Id</th>
                                                <th width="5%" id="tblProjCode">Branch&nbsp;Name</th>
                                                <th width="5%" id="tblProjName">Location&nbsp;Name</th>
                                               
                                                <th width="5%" id="ProjAction">Action</th>
                                            </tr>
                                        </thead>
                                        <tbody id="tbodyId"></tbody>
                                    </table>
                                    <br />
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>
    </div>
}

@section scripts{
    <script src="~/App_Themes/Theme1/plugins/select2/select2.min.js" type="text/javascript"></script>
    <script src="~/App_Themes/Theme1/plugins/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
    <script src="../App_Themes/Theme1/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="../App_Themes/Theme1/plugins/datatables/dataTables.bootstrap.js"></script>
    <script src="../App_Themes/Theme1/plugins/datatables/dataTables.buttons.min.js"></script>
    <script src="../App_Themes/Theme1/plugins/datatables/buttons.bootstrap.min.js"></script>
    <script src="../App_Themes/Theme1/plugins/datatables/pdfmake.min.js"></script>
    <script src="../App_Themes/Theme1/plugins/datatables/vfs_fonts.js"></script>
    <script src="../App_Themes/Theme1/plugins/datatables/buttons.html5.min.js"></script>
    <script src="../App_Themes/Theme1/plugins/datatables/buttons.print.min.js"></script>
    <script src="../App_Themes/Theme1/plugins/datatables/dataTables.fixedHeader.min.js"></script>
    <script src="../App_Themes/Theme1/plugins/datatables/dataTables.keyTable.min.js"></script>
    <script src="../App_Themes/Theme1/plugins/datatables/dataTables.responsive.min.js"></script>
    <script src="../App_Themes/Theme1/plugins/datatables/responsive.bootstrap.min.js"></script>
    <script src="../App_Themes/Theme1/plugins/datatables/dataTables.scroller.min.js"></script>
    <script type="text/javascript" src="../App_Themes/Theme1/plugins/parsleyjs/dist/parsley.min.js"></script>
    <script src="../App_Themes/Theme1/blue/assets/pages/datatables.init.js"></script>
    <script type="text/javascript" src="jquery.dataTables.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.20/datatables.min.css" />

    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.20/datatables.min.js"></script>


    @* <script>//cdn.datatables.net/plug-ins/1.10.20/i18n/Bangla.json</script>*@
    <script>$("#BranchCode").select2()</script>
    <script>$("#LocCode").select2()</script>
    <script>
        /////////////datatableshow////////////
        loadGridByVNo();
        //  $(document).ready(function () {
        var ID;
        $("#btnupdate").hide();
        $("#btnadd").show();
        //function loadGridByVNo() {
        var table = $("#Add-datatable").DataTable({
            "scrollX": true,
            "scrollY": 200,
            "paging": false,
            "ordering": false,
            "info": false,
            "searching": false,
            //"language": {
            //    "url": "dataTables.bangla.lang"
            //},
            "ajax": "../BranchLocMap/GetAllDataForBranchLocMap",
            "rowId": 'id',
            "columns": [
                       { "data": null, "bSortable": false },
                        { "data": "Id", "class": "hideme" },
                       { "data": "BranchCode" },
                       { "data": "LocCode" },
                      
                         {
                             mRender: function (data, type, row) {
                                 return '<a href="#" id="edit"  value="' + row.Id + '">'
                                         + '<span class="glyphicon glyphicon-edit" aria-hidden="true"></span></a>&ensp;'
                                 + '<a href="#" class="on-default remove-row deleteSup largeSpace" data-id="1" id="delete" value="' + row.Id + '">'
                                 + ' <i class="glyphicon glyphicon-trash"></i> </a>'
                             }
                         },
            ],
            "fnCreatedRow": function (row, data, index) {
                $('td', row).eq(0).html(index + 1);
            }


        });




        var loadInfo = {
            BranchCode: "",
            LocCode: ""
           
        };
        function setOrder() {
            loadInfo.BranchCode = $("#BranchCode").val();
            loadInfo.LocCode = $("#LocCode").val();
            


        }

        function clearReceive() {
            $("#BranchCode").val($('#BranchCode option:first-child').val()).trigger('change.select2');
            $("#LocCode").val($('#LocCode option:first-child').val()).trigger('change.select2');
           
        }


        /////////////////Save////////////////////////
        $(document).on("click", "#btnadd", function () {
            setOrder();
            //var validate = validateOnSave(loadInfo);
            //if (validate != "") {
            //    alert(validate);
            //    return;
            //}
            // if (orders != 0) {
            $.ajax({
                url: '@Url.Action("SaveBranchLocMap", "BranchLocMap")',
                contentType: "application/json;charset=utf-8",
                data: JSON.stringify({ BranchLocMap: loadInfo }),
                type: 'POST',
                dataType: 'json',
                success: function (datas) {
                    if (datas == 1) {
                        swal({
                            title: "Ok",
                            text: "Successfully Saved!",
                            type: "success",
                            closeOnConfirm: true
                        },

                        function () {
                            location.reload();
                            clearReceive();
                        });
                        //$("#btnadd").prop("disabled", false);
                        //orders = [];
                        //$('#tbodyId').empty();


                    }
                    else if (datas == "X") {
                        swal({
                            title: "Sorry",
                            text: "No Save Permission for this User",
                            type: "warning"
                        });
                    }
                    else if (datas == 0) {
                        swal(
                            'Sorry!',
                            'All (*) field are required. These Fields can not be empty!!!',
                            'warning'
                        );
                        $("#save").prop("disabled", false);
                    }
                    else if (datas == 2) {                           //save  data
                        swal({
                            title: "Sorry!",
                            text: "Data Already Exists",
                            type: "warning"
                        });
                    }

                        //});

                        //}
                    else {
                        swal(
                            'Sorry!',
                            'Please Add item in the Table.!!!',
                            'warning'
                            );
                    }
                }//success
            });//ajax
            // }//if (orders != 0) {

        });

        function validateOnSave(validOrder) {

            if (!validOrder.BranchCode.trim().length) {
                return "Please write a Branch Name.";
            }
            if (!validOrder.locCode.trim().length) {
                return "Please write a Location Name.";
            }
           
            return "";

        }

        ////////////////////////////////////LebelDynamic//////////////////////////////////////
        // $(document).on("click", "#btnadd", function () {
        function loadGridByVNo() {
            //location.reload();
            $.ajax({
                url: '@Url.Action("GetAllDataForProjInfoLebell", "ProjInfo")',
                contentType: "application/json;charset=utf-8",
                data: {},
                type: "GET",
                dataType: 'json',
                success: function (data) {

                    $("#MRAgainstTitle").html(data[0]);
                    $("#MRADesc").html(data[1]);
                    $("#lblAcCode").html(data[2]);
                    $("#lblMRAgainstType").html(data[3]);
                    $("#btnadd").val(data[4]);
                    $("#MRAgainstSl").html(data[5]);
                    $("#MRAgainstDescription").html(data[6]);
                    $("#MRAgainstCode").html(data[7]);
                    $("#MRAType").html(data[8]);
                    $("#MRAgainstAction").html(data[9]);
                }
            });
        }

        ///////////////////////////Edit//////////////////

        $(document).on('click', "#edit", function () {
            var value = $(this).attr("value");
            ID = value;
            //GroupTypeId = $("#GroupTypeId option:selected").val()
            //$("#update").show();
            $.ajax({
                url: '@Url.Action("BranchLocMapforEdit", "BranchLocMap")',
                contentType: "application/json;charset=utf-8",
                data: JSON.stringify({ Id: value }),
                type: 'POST',
                dataType: 'json',
                success: function (datas) {
                    //GroupTypeId = GroupTypeId;

                    $("#BranchCode").val(datas.BranchCode).trigger('change.select2');
                    $("#LocCode").val(datas.LocCode).trigger('change.select2');
                  
                   
                    $("#btnupdate").show();
                    $("#btnadd").hide();
                    //$("#Type").val($('#Type option:first-child').val()).trigger('change.select2');
                }
            });
        });
        ////////////////////////Update//////////////////////////////////
        $(document).on("click", "#btnupdate", function () {
            //  ActionCtrl = $("#AcName").val();         
            //SrcDestName = $("#SrcDestName").val();  
            // $("#btnupdate").hide();
            //$("#btnadd").show();

            setOrder();
            //var validate = validateOnSave(loadInfo);
            //if (validate != "") {
            //    alert(validate);
            //    return;
            //}
            // if (orders != 0) {
            $.ajax({
                url: '@Url.Action("UpdateBranchLocMap", "BranchLocMap")',
                contentType: "application/json;charset=utf-8",
                data: JSON.stringify({ BranchLocMap: loadInfo, Id: ID }),
                type: 'POST',
                dataType: 'json',
                success: function (datas) {
                    if (datas == 1) {


                        swal({
                            title: "Ok",
                            text: "Successfully Updated!",
                            type: "success",
                            closeOnConfirm: true
                        },

                        function () {
                            location.reload();
                            clearReceive();
                            //loadGroupWiseData();
                        });

                    }

                    else if (datas == "X") {
                        swal({
                            title: "Sorry",
                            text: "No Update Permission for this User",
                            type: "warning"
                        });
                    }
                    else if (datas == 0) {
                        swal(
                            'Sorry!',
                            'All (*) field are required. These Fields can not be Empty!!!',
                            'warning'
                        );
                        $("#save").prop("disabled", false);
                    }
                    else if (datas == 2) {                           //save  data
                        swal({
                            title: "Sorry!",
                            text: "Data Already Exists",
                            type: "warning"
                        });
                    }

                        //});

                        //}
                    else {
                        swal(
                            'Sorry!',
                            'Please Add item in the Table.!!!',
                            'warning'
                            );
                    }
                }//success
            });//ajax
            //}//if (orders != 0) {

        });

        /////////////////////////////delete//////////////////////
        $(document).on("click", "#delete", function () {
            var value = $(this).attr("value");
            // GroupTypeId = $("#GroupTypeId option:selected").val()
            swal({
                title: "Are you sure?",
                text: "You will not be able to recover this data!",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Yes, delete it!",
                closeOnConfirm: false,
                closeOnCancel: true
            },
                function () {
                    $.ajax({
                        url: '@Url.Action("DeleteBranchLocMap", "BranchLocMap")',
                        contentType: "application/json;charset=utf-8",
                        data: { Id: value },
                        type: 'GET',
                        dataType: 'json',
                        success: function (datas) {

                            if (datas == 0 || datas == 2) {
                                swal("Sorry!! Failed to delete this data.", "fail");
                            }
                            else if (datas == 1) {
                                swal({
                                    title: "Ok",
                                    text: "Sucessfully Delete!",
                                    type: "success",
                                    closeOnConfirm: true

                                }, function () {
                                    //clearReceive();
                                    // loadGroupWiseData();
                                    location.reload();
                                });
                            }
                            else if (datas == "D") {

                                swal({
                                    title: "Sorry",
                                    text: "No Delete Permission for this User",
                                    type: "warning"
                                });
                            }
                        },
                        error: function (datas) {
                            swal("Sorry!! Failed to delete this data.", "fail")
                        }
                    });
                });
        });

</script>

}
