@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model PoIpaWeb.Models.LocalPasswordModel


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <div class="row form-horizontal">
        <div class="col-lg-1"></div>
        <div class="col-sm-10">
            <div class="card-box">
                <p style="color:red;">@ViewBag.Message</p>
            <br />
            <div class="row">
                <div class="col-md-8">
                    <div class="form-group">
                        @Html.LabelFor(x => x.OldPassword, new { @class = "col-md-5 control-label" })
                        <div class="col-md-7">
                            @Html.PasswordFor(x => x.OldPassword, new { @class = "form-control" })
                            @Html.ValidationMessageFor(x => x.OldPassword)
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <div class="form-group">
                        @Html.LabelFor(x => x.NewPassword, new { @class = "col-md-5 control-label" })
                        <div class="col-md-7">
                            @Html.PasswordFor(x => x.NewPassword, new { @class = "form-control" })
                            @Html.ValidationMessageFor(x => x.NewPassword)
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <div class="form-group">
                        @Html.LabelFor(x => x.ConfirmPassword, new { @class = "col-md-5 control-label" })
                        <div class="col-md-7">
                            @Html.PasswordFor(x => x.ConfirmPassword, new { @class = "form-control" })
                            @Html.ValidationMessageFor(x => x.ConfirmPassword)
                        </div>
                    </div>
                </div>
            </div>
          
            <div class="row">
                <div class="col-md-6" style="text-align:center;">
                    <div class="form-group">
                        <input type="submit" value="Change Password" class="btn btn-primary" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
}

