@model IEnumerable<App.Domain.ViewModel.ProcessActionPreviewVM>

@{
    ViewBag.Title = "File Process Preview";
    Layout = null;
    int sl = 0;

    var CompInfo = ProcessAutomation.Models.GetCompanyInfo.GetComInfo();
    string CompanyAddress = ((CompInfo.Addr1 == null ? string.Empty : CompInfo.Addr1) + (CompInfo.Addr2 == null ? string.Empty : CompInfo.Addr2));
}

<script src="~/Scripts/jquery-1.9.1.min.js"></script>
<script src="~/Scripts/Export.js"></script>
@*<link href="~/App_Themes/Theme1/plugins/datatables/jquery.dataTables.min.css" rel="stylesheet" type="text/css" />
    <link href="~/App_Themes/Theme1/plugins/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">
    <link href="~/App_Themes/Theme1/plugins/datatables/jquery.dataTables.min.css" rel="stylesheet" type="text/css" />
    <link href="~/App_Themes/Theme1/plugins/select2/select2.css" rel="stylesheet" type="text/css" />
    <link href="~/Css/FormDesign.css" rel="stylesheet" />*@

<style>
    hr {
        border: 1px solid #000000;
        border-style: none none solid;
        color: black;
    }

    tr {
        page-break-inside: avoid;
    }
</style>

<div id="toReport" class="panel-body" style="margin: auto; text-align:center !important; width:800px; height:1150px; padding:60px">
    <div class="panel-heading" style="text-align:center">
        <div class="panel-title">
            <label style="text-align:center !important; text-decoration: none; font-size:25px; font-weight:bold">@CompInfo.CompName</label><br>
            <label style="text-align:center !important; text-decoration: none; font-size:23px; font-weight:normal">@CompanyAddress</label><br>
            @*<label style="text-align:center !important; text-decoration: none; font-size:23px; font-weight:normal">Phone:@CompInfo.Tel</label>*@<br>
        </div>
        <br />
        <div class="panel-title">
            <text style="text-align:center !important; text-decoration: none; font-size:20px; font-weight:bold">@ViewBag.Title</text>
        </div>

    </div>
    <hr />
    <br />

    <div class="panel-body" style="text-align:center">
        <table cellpadding="5" cellspacing="1" border="1" frame="box" rules="all" style="width:800px">
            <thead style="height:300px">

                <tr>
                    <th style="width:100px; font-size:13px; text-align:center"></th>
                    <th style="width:100px; font-size:13px; text-align:center"></th>
                    <th style="width:100px; font-size:13px; text-align:center"></th>
                    @*<th style="width:100px; font-size:13px; text-align:center"></th>*@
                </tr>
            </thead>
            <tbody id="tbodyId">
               @{
                foreach (var i in Model.Select(x => x.UserName).Distinct())
                {
                    
                foreach (var item in Model.Where(x => x.UserName.Equals(@i)))
                {
                    <tr>

                        <td style=" text-align:left; font-size:12px">
                            @Html.DisplayFor(modelItem => item.RCaption)
                        </td>
                        @if (item.RCaption == "Attachment")
                        {
                            <td style=" text-align:left; font-size:12px;">
                                <a href="@item.FilePath" onclick="">
                                    @Html.DisplayFor(modelItem => item.RData)
                                </a>
                            </td>
                        }
                        else
                        {
                            <td style=" text-align:left; font-size:12px;">
                                @Html.DisplayFor(modelItem => item.RData)
                            </td>
                        }
                        
                        <td style=" text-align:right; font-size:12px">
                            @Html.DisplayFor(modelItem => item.FileType)
                        </td>
                        @*<td style="text-align:right; font-size:12px">
                                @Html.DisplayFor(modelItem => item.UserName)
                            </td>*@
                     </tr>
                }
                <tr>
                    <td style="border:none"></td>
                    <td style="border:none"></td>
                    <td style="text-align:right; font-size:12px;border:none">
                        Signed by : @i
                    </td>
                </tr>
                }
}
                @*@foreach (var name in Model.Select(x => x.UserName).Distinct())
                {
                    <tr style="width:100%;height:50px;">
                        <td style="border:none"></td>
                        <td style="border:none"></td>
                        <td style="text-align:right; font-size:12px;border:none">
                            Signed by : @name
                        </td>
                    </tr>
                }*@
                
                
                </tbody>
       </table>
    </div>

</div>