@model App.Domain.ViewModel.RptSearchVModel
@{
    ViewBag.Title = "Cancel Receipt";
    
}

@using (Html.BeginForm("CustomerWiseSalesStatementRptPdf", "CustomerWiseSalesStatement", FormMethod.Post, new { }))
{
    <div class="row">
        <div class="col-md-10">
            <div class="panel panel-color panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <text style="text-align:left !important; text-decoration: none">Schedule Report</text>
                    </h3>
                </div>
                <div class="panel-body">
                    <div class="col-md-12" style="margin-left:110px; margin-top:10px" id="ddfProjCode">
                        <label class="col-md-2" for="ProjCode">Project</label>
                        <div class="input-group form-group col-md-4">
                            @Html.DropDownListFor(x => x.projCode, null, new { @class = "form-control select2", @Value = ViewBag.ProjCode })

                        </div>
                    </div>
                    <div class="col-md-12" style="margin-left:110px; margin-top:10px" id="ddfBrCode">
                        <label class="col-md-2" for="BrCode">Branch</label>
                        <div class="input-group form-group col-md-4">
                            @Html.DropDownListFor(x => x.BranchCode, null, "All", new { @class = "form-control select2" })

                        </div>
                    </div>
                    <div class="col-md-12" style="margin-left:110px; margin-top:10px" id="">
                        <label class="col-md-2" for="SubCode">Customer</label>
                        <div class="input-group form-group col-md-4">
                            @Html.DropDownListFor(x => x.SubCode, null, "All", new { @class = "form-control select2" })

                        </div>
                    </div>
                    <div class="col-md-12" style="margin-left:110px; margin-top:20px">
                        <label class="col-md-2" for="fDate">From Date</label>
                        <div class="input-group form-group col-md-4">
                            <input type="text" class="form-control datePage" id="fDate" name="fDate" value="@ViewBag.FyddFDate.ToShortDateString()">
                            <span class="input-group-addon bg-primary b-0 text-white"><i class="ion-calendar"></i></span>
                        </div>
                    </div>
                    <div class="col-md-12" style="margin-left:110px; margin-top:20px">
                        <label class="col-md-2" for="tDate">To Date</label>
                        <div class="input-group form-group col-md-4">
                            <input type="text" class="form-control datePage" id="tDate" name="tDate" value="@ViewBag.FyddTDate.ToShortDateString()">
                            <span class="input-group-addon bg-primary b-0 text-white"><i class="ion-calendar"></i></span>
                        </div>
                    </div>

                    <div class="col-md-12" style="margin-left:150px; margin-top:20px">
                        <div class="col-xs-12">
                            <div class="input-group">

                                <p style="color:red">
                                    @ViewBag.Message
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-10">
                        <br />
                    </div>
                    <div class="row col-md-12" style="text-align:end">
                        <div class="col-md-8" style=" text-align:right">

                            <input type="submit" value="Preview" class="btn btn-primary" id="submit" style="width:100px;" />
                            <input type="button" value="Clear" class="btn btn-primary" id="clear" style="width:100px;" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

}
@section Scripts{

    @Scripts.Render("~/bundles/jqueryval")

    <script src="~/App_Themes/Theme1/plugins/select2/select2.min.js" type="text/javascript"></script>
    <script src="~/App_Themes/Theme1/plugins/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
    <script src="../App_Themes/Theme1/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="../App_Themes/Theme1/plugins/datatables/dataTables.bootstrap.js"></script>
    <script src="../App_Themes/Theme1/plugins/datatables/dataTables.buttons.min.js"></script>
    <script src="../App_Themes/Theme1/plugins/datatables/buttons.bootstrap.min.js"></script>
    <script src="../App_Themes/Theme1/plugins/datatables/pdfmake.min.js"></script>
    <script src="../App_Themes/Theme1/plugins/datatables/vfs_fonts.js"></script>
    <script src="../App_Themes/Theme1/plugins/datatables/buttons.html5.min.js"></script>
    <script src="../App_Themes/Theme1/plugins/datatables/buttons.print.min.js"></script>
    <script src="../App_Themes/Theme1/plugins/datatables/dataTables.fixedHeader.min.js"></script>
    <script src="../App_Themes/Theme1/plugins/datatables/dataTables.keyTable.min.js"></script>
    <script src="../App_Themes/Theme1/plugins/datatables/dataTables.responsive.min.js"></script>
    <script src="../App_Themes/Theme1/plugins/datatables/responsive.bootstrap.min.js"></script>
    <script src="../App_Themes/Theme1/plugins/datatables/dataTables.scroller.min.js"></script>
    <script type="text/javascript" src="../App_Themes/Theme1/plugins/parsleyjs/dist/parsley.min.js"></script>
    <!-- Datatable init js -->
    <script src="../App_Themes/Theme1/blue/assets/pages/datatables.init.js"></script>

    <script type="text/javascript">

        $(document).ready(function () {

            $('#ProjName').select2();
            
            $("#SubName").select2();
            $("#BranchName").select2();
            


        });



    </script>
}
