@model IEnumerable<App.Domain.ViewModel.SalesStatementVM>
@{
    ViewBag.Title = "Customer Wise Sales Statement";
    Layout = null;
    decimal tSalesAmt = 0.0m;
    decimal tDiscount = 0.0m;
    decimal tVat = 0.0m;
    decimal tTransport = 0.0m;
    decimal tLabour = 0.0m;
    decimal tNetAmt = 0.0m;

    decimal gtSalesAmt = 0.0m;
    decimal gtDiscount = 0.0m;
    decimal gtVat = 0.0m;
    decimal gtTransport = 0.0m;
    decimal gtLabour = 0.0m;
    decimal gtNetAmt = 0.0m;

    var CompInfo = ProcessAutomation.Models.GetCompanyInfo.GetComInfo();
    string CompanyAddress = ((CompInfo.Addr1 == null ? string.Empty : CompInfo.Addr1) + (CompInfo.Addr2 == null ? string.Empty : CompInfo.Addr2));
}

<script src="~/Scripts/jquery-1.9.1.min.js"></script>
<script src="~/Scripts/Export.js"></script>
<link href="~/App_Themes/Theme1/plugins/datatables/jquery.dataTables.min.css" rel="stylesheet" type="text/css" />
<link href="~/App_Themes/Theme1/plugins/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">
<link href="~/App_Themes/Theme1/plugins/datatables/jquery.dataTables.min.css" rel="stylesheet" type="text/css" />
<link href="~/App_Themes/Theme1/plugins/select2/select2.css" rel="stylesheet" type="text/css" />
<link href="~/Css/FormDesign.css" rel="stylesheet" />

<style>
    tr {
        page-break-inside: avoid;
    }

    body {
        padding-right: 0px;
        font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    }

    .border {
        color: #335; /* Lighten up font color */
        font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
        font-weight: 300;
        border-collapse: collapse;
        border-spacing: 0;
    }

    .tds {
        /*border: 1px solid black;*/
        font-weight: 500;
        font-family: Arial;
        border-right: hidden !important;
    }
    /* Make cells a bit taller */
    .ths {
        /*border: 1px solid black;*/
        font-weight: 500;
        font-family: Arial;
    }

    .th {
        background: #F3F3F3; /* Light grey background */
        font-weight: bold; /* Make sure they're bold */
    }

    .td {
        background: #FAFAFA; /* Lighter grey background */
        text-align: center; /* Center our text */
    }

    .breakhere {
        page-break-after: always;
    }
</style>

<div id="toReport" class="panel-body" style="margin: auto; text-align:center !important; width:800px; height:1150px; padding:60px">
    <div class="panel-heading" style="text-align:center">
        <div class="panel-title">
            <label style="text-align:center !important; text-decoration: none; font-size:25px; font-weight:bold">@CompInfo.CompName</label><br>
            <label style="text-align:center !important; text-decoration: none; font-size:23px; font-weight:normal">Office: @CompanyAddress</label><br>
            <label style="text-align:center !important; text-decoration: none; font-size:23px; font-weight:normal">Phone: @CompInfo.Tel</label><br>
        </div>
        <div class="panel-title">
            <text style="text-align:center !important; text-decoration: none; font-size:20px;font-family:'Arial Narrow'; font-weight:bold">Customer Wise Sales Statement</text>
        </div>
        <div class="cashDate">
            <text style="text-align:center !important; text-decoration: none; font-size:15px;font-family:'Arial Narrow';">From : @ViewBag.fDate &nbsp;&nbsp; To: @ViewBag.tDate</text>
        </div>
        <div class="panel-title">
            <text style="text-align:center !important; text-decoration: none; font-size:20px;font-family:'Arial Narrow'; font-weight:bold">@ViewBag.Criteria</text>
        </div>
    </div>
    <hr style="border-bottom: 1px solid" />
    <br />

    <div class="panel-body" style="text-align:center">
        <table cellpadding="5" cellspacing="1" border=1 frame=box rules=all style="width:100%">
            <thead style="height:300px; overflow: visible !important;">
                <tr>
                    <th style="font-size:14px; font-family:'Arial Narrow'; text-align:center">Sale Date</th>
                    <th style=" font-size: 14px; font-family: 'Arial Narrow'; text-align: center">Sale No</th>

                    <th style=" font-size: 14px; font-family: 'Arial Narrow'; text-align: center">Sale amount</th>
                    <th style=" font-size: 14px; font-family: 'Arial Narrow'; text-align: center">Discount</th>
                    <th style=" font-size: 14px; font-family: 'Arial Narrow'; text-align: center">Vat</th>
                    <th style=" font-size: 14px; font-family: 'Arial Narrow'; text-align: center">Transport</th>
                    <th style=" font-size: 14px; font-family: 'Arial Narrow'; text-align: center">Labour</th>
                    <th style=" font-size: 14px; font-family: 'Arial Narrow'; text-align: center">Gross Sale</th>
                </tr>
                <tr>
                    <text style="text-align:right !important; text-decoration: none; font-size:20px;font-family:'Arial Narrow'; font-weight:bold">Location: @ViewBag.BranchCode</text>
                </tr>

            </thead>
            <tbody id="tbodyId">
                @{
                    foreach (var item in Model.Select(a => a.Customer).Distinct())
                    {
                        <tr>
                            <td style=" text-align:left; font-size:12px">
                                Customer : @item
                            </td>
                        </tr>


                        @*<table cellpadding="1" cellspacing="1" border=1 frame=box rules=all style="width:100%">
                                <thead style="height:300px; overflow: visible !important;">
                                    <tr>
                                        <td style=" text-align: left; font-size: 12px">Customer : @item</td>

                                    </tr>
                                </thead>
                            </table>*@

                        foreach (var i in Model.Where(a => a.Customer.Equals(@item)))
                        {
                            <tr>
                                <td style=" text-align:left; font-size:12px">
                                    @i.SaleDate.ToString("dd-MMM-yyyy")
                                </td>
                                <td style=" text-align:left; font-size:12px">
                                    @Html.DisplayFor(modelItem => i.SaleNo)
                                </td>
                                <td style=" text-align:right; font-size:12px">
                                    @Html.DisplayFor(modelItem => i.SaleAmount)
                                </td>
                                <td style="text-align:right; font-size:12px">
                                    @Html.DisplayFor(modelItem => i.Discount)
                                </td>
                                <td style=" text-align:right; font-size:12px;">
                                    @Html.DisplayFor(modelItem => i.VAT)
                                </td>
                                <td style=" text-align:right; font-size:12px;">
                                    @Html.DisplayFor(modelItem => i.Transport)
                                </td>
                                <td style=" text-align:right; font-size:12px;">
                                    @Html.DisplayFor(modelItem => i.Labour)
                                </td>
                                <td style=" text-align:right; font-size:12px;">
                                    @Html.DisplayFor(modelItem => i.NetAmount)
                                </td>
                            </tr>
                            tSalesAmt += Convert.ToDecimal(i.SaleAmount);
                            tDiscount += Convert.ToDecimal(i.Discount);
                            tVat += Convert.ToDecimal(i.VAT);
                            tTransport += Convert.ToDecimal(i.Transport);
                            tLabour += Convert.ToDecimal(i.Labour);
                            tNetAmt += Convert.ToDecimal(i.NetAmount);
                        }
                        <tr>
                            <th style=""></th>
                            <th style=" text-align:Center">Sub Total:</th>
                            <th style=" text-align:right">@Convert.ToDecimal(@tSalesAmt).ToString("#,##0.00")</th>
                            <th style=" text-align:right">@Convert.ToDecimal(@tDiscount).ToString("#,##0.00")</th>
                            <th style=" text-align:right">@Convert.ToDecimal(@tVat).ToString("#,##0.00")</th>
                            <th style=" text-align:right">@Convert.ToDecimal(@tTransport).ToString("#,##0.00")</th>
                            <th style=" text-align:right">@Convert.ToDecimal(@tLabour).ToString("#,##0.00")</th>
                            <th style=" text-align:right">@Convert.ToDecimal(@tNetAmt).ToString("#,##0.00")</th>
                        </tr>
                        gtSalesAmt += tSalesAmt;
                        gtDiscount += tDiscount;
                        gtVat += tVat;
                        gtTransport += tTransport;
                        gtLabour += tLabour;
                        gtNetAmt += tNetAmt;

                        tSalesAmt = 0;
                        tDiscount = 0;
                        tVat = 0;
                        tTransport = 0;
                        tLabour = 0;
                        tNetAmt = 0;

                    }
                }
                <tr>
                    <td style=" text-align:right"></td>
                    <td style=" text-align: center">Grand Total:</td>
                    <td style=" text-align: right">@Convert.ToDecimal(@gtSalesAmt).ToString("#,##0.00")</td>
                    <td style=" text-align: right">@Convert.ToDecimal(@gtDiscount).ToString("#,##0.00")</td>
                    <td style=" text-align: right">@Convert.ToDecimal(@gtVat).ToString("#,##0.00")</td>
                    <td style=" text-align: right">@Convert.ToDecimal(@gtTransport).ToString("#,##0.00")</td>
                    <td style=" text-align: right">@Convert.ToDecimal(@gtLabour).ToString("#,##0.00")</td>
                    <td style=" text-align: right">@Convert.ToDecimal(@gtNetAmt).ToString("#,##0.00")</td>
                </tr>

            </tbody>
        </table>
        @*<table cellpadding="5" cellspacing="1" border=1 frame=box rules=all style="width:100%">
            <thead style="height:300px; overflow: visible !important;">
                



            </thead>
        </table>*@
    </div>

</div>
