@model App.Domain.ViewModel.VMLogin

@{
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}
@*<style>
    body, html {
        height: 100%;
        margin: 0;
    }

    .bg {
        /*background-image: url('../../Images/bg.jpg');*/
        background-image: url('../../Images/bg1.jpg');
        height: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
</style>*@
<div class="bg">
    <div class="wrapper-page">

        <div class="text-center">
            <img src="~/Images/Accline.jpg" class="logo-lg" style="height: 92px;" />
        </div>
        @using (Html.BeginForm("Login", "SecUserLogin", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal m-t-20", role = "form" }))
        {

            @Html.ValidationSummary(true)
            <div class="form-group">
                <div class="col-xs-12">
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i class="md md-account-circle  l-h-32"></i>
                        </div>
                        @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", placeholder = "User Name" })
                        @Html.ValidationMessageFor(m => m.UserName)
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-12">
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i class="md md-vpn-key  l-h-32"></i>
                        </div>
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Password" })
                        @Html.ValidationMessageFor(m => m.Password)
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-12">
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i class="md md-vpn-key  l-h-32"></i>
                        </div>
                        @Html.DropDownListFor(x => x.FinYear, null, new { @class = "form-control select2" })
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-12">
                    <div class="input-group">

                        <p style="color:red" id="forgetpass">
                            @ViewBag.Message
                        </p>
                    </div>
                </div>
            </div>
            <div class="form-group text-right m-t-20">
                <div class="col-xs-12">
                    <button class="btn btn-primary btn-custom w-md waves-effect waves-light" type="submit">
                        Log In
                    </button>
                </div>
            </div>


        }
    </div>
</div>
<script>
    ///////////////////////////ForgetPassword//////////////////

    $(document).on("click", "#forgetpass", function () {
        var value = $(this).attr("value");
        $.ajax({
            url: '@Url.Action("GetNewFileIdforMove", "FileProcessAction")',
            contentType: "application/json;charset=utf-8",
            data: JSON.stringify({ FileNo: value }),
            type: 'POST',
            dataType: 'json',
            success: function (datas) {
                window.location.href = datas.redirecturl;
                $("#FileID").val(datas.FileMainAdd.FileNo);
                $("#FileRef").val(datas.FileMainAdd.FileRef);
                $("#FileSub").val(datas.FileMainAdd.FileSub);
                $("#FileText").val(datas.FileMainAdd.FileText);
            }
        });
    })
</script>